@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.animated {
    opacity: 0;
    transform: translateY(50px);
    filter: blur(5px);
    transition: all 300ms ease-in-out;
}

.animated.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

body {
    font-family: 'Inter', sans-serif;
}
